@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Nuevo :root con colores y fuentes estandarizados */
:root {
    --verde-claro: #90EE90; /* Verde claro para títulos */
    --verde: #016150; /* Verde principal */
    --verde-oscuro: #004d3d; /* Verde medio oscuro para footer */
    --azul-marino: #003366; /* Azul marino para párrafos */
    --negro: #000000; /* Negro para texto */
    --gris: #EFF0F0; /* Gris claro para fondos */
    --blanco: #FFFFFF; /* Blanco para texto y fondos */
    --color-primario: #003366; /* Azul marino */
    --color-secundario: #ff6600; /* Naranja para acentos */
    --color-fondo: #f4f4f4; /* Fondo claro */
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.09); /* Sombra predeterminada */
    --transition: all 0.8s ease; /* Transición suave */

    /* Fuentes */
    --font-title: "Roboto Condensed", serif; /* Fuente para títulos */
    --font-body: "Poppins", sans-serif; /* Fuente para texto general */
    --font-accent: "Bebas Neue", sans-serif; /* Fuente para acentos o detalles */
}

/* Estilos generales */
body {
    font-family: var(--font-body);
    line-height: 1.5;
    color: var(--negro);
    background-color: var(--gris);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--verde-claro); /* Títulos en verde claro */
}

p, .lead {
    font-family: var(--font-body);
    color: var(--azul-marino); /* Párrafos en azul marino */
}

a {
    text-decoration: none;
    color: var(--negro);
    transition: var(--transition);
    text-align: center;
}

a:hover {
    color: var(--verde-claro); /* Cambiar a verde claro al hacer hover */
}

img {
    max-width: 100%;
    height: auto;
}

.shadow-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shadow-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-brand img {
    width: 100%;
    height: auto;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--negro);
}

.navbar-nav .nav-link:hover {
    color: var(--verde-claro); /* Cambiar a verde claro al hacer hover */
}

.navbar-nav .nav-link.active {
    color: var(--verde-claro); /* Cambiar a verde claro para enlaces activos */
    font-weight: bold;
}

/* SLIDER */
.carousel-inner {
    height: auto;
    max-height: 800px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-caption {
    right: 0;
    left: 0;
    bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.carousel-caption h5 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--blanco);
}

.carousel-caption p {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--blanco);
}

/* Media queries para ajustar el carrusel en diferentes tamaños de pantalla */
@media (min-width: 768px) {
    .carousel-caption {
        left: 20vw;
        bottom: 13vw;
        text-align: right;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 1rem;
    }

    .carousel-caption h5 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .carousel-caption {
        left: 40vw;
        bottom: 13vw;
    }
    .carousel-caption h5 {
        font-size: 2.5rem;
    }
    .carousel-caption p {
        font-size: 1.8rem;
    }
}

/* Beneficios Viva */
#beneficios_viva {
    background-color: var(--gris);
    padding: 4rem 0;
}

#beneficios_viva h1 {
    color: var(--verde-claro); /* Títulos en verde claro */
    margin-bottom: 1.5rem;
}

#beneficios_viva .lead {
    color: var(--azul-marino);
    font-size: 1.25rem;
}

#beneficios_viva .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: var(--blanco);
}

#beneficios_viva .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#beneficios_viva .card-title {
    color: var(--verde-claro); /* Títulos de tarjetas en verde claro */
    font-weight: bold;
    margin-top: 1rem;
}

#beneficios_viva .card-text {
    color: var(--azul-marino);
    font-size: 0.9rem;
    line-height: 1.6;
}

#beneficios_viva .card-img-top {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

/* servicios */
#services {
    padding: 4rem 0;
    background-color: var(--color-fondo); /* Fondo claro */
}

#services h1 {
    color: var(--verde-claro); /* Títulos en verde claro */
    margin-bottom: 1.5rem;
}

#services .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#services .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#services .card-title {
    color: var(--verde-claro); /* Títulos de tarjetas en verde claro */
    font-weight: bold;
}

#services .card-text {
    color: var(--azul-marino); /* Texto de tarjetas en azul marino */
    line-height: 1.6;
}

#services .accordion-button {
    background-color: var(--color-primario); /* Color azul marino para botones del acordeón */
    color: var(--blanco);
    font-weight: bold;
}

#services .accordion-button:focus {
    box-shadow: none;
}

#services .accordion-body {
    background-color: var(--color-fondo); /* Fondo claro para el cuerpo del acordeón */
    padding: 1.5rem;
}

/* about */
#about {
    padding: 4rem 0;
    background-color: var(--color-fondo); /* Fondo claro */
}

#about h1 {
    color: var(--verde-claro); /* Títulos en verde claro */
    margin-bottom: 1.5rem;
}

#about h4 {
    color: var(--azul-marino); /* Subtítulos en azul marino */
    font-weight: 300;
    line-height: 1.6;
}

#about .card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#about .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#about .card-img-top {
    border-radius: 10px 10px 0 0;
}

#about .card-body {
    padding: 1.5rem;
}

#about .card-title {
    color: var(--verde-claro); /* Títulos de tarjetas en verde claro */
}

#about .text-primary {
    color: var(--color-primario) !important; /* Color azul marino para números destacados */
}

#about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contactos */
#contacto {
    padding: 4rem 0;
    background-color: var(--color-fondo);
}

#contacto h1 {
    color: var(--verde-claro); /* Títulos en verde claro */
}

#contacto .btn {
    background-color: var(--verde); /* Botón en verde principal */
    color: var(--blanco);
}

#contacto .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contacto .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#contacto .card-title {
    color: var(--verde-claro); /* Títulos de tarjetas en verde claro */
    font-weight: bold;
}

li strong {
    color: var(--verde-claro); /* Texto en verde claro */
}

#contacto .list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#contacto .list-unstyled i {
    font-size: 1.2rem;
    color: var(--verde); /* Íconos en verde principal */
    margin-right: 0.5rem;
}

#contacto iframe {
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: var(--verde-oscuro); /* Fondo verde oscuro */
    color: var(--blanco);
    padding: 4rem 0;
}

footer h5 {
    color: var(--blanco);
    font-weight: bold;
}

footer a {
    color: var(--blanco);
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--color-secundario) !important; /* Color naranja al hacer hover */
}

footer .bi {
    transition: transform 0.3s ease;
}

footer .bi:hover {
    transform: scale(1.2);
}