
/*  */

:root {
    --btn-color: #139240;
    --bg-primari: #eff0f0;
    --bg-secondary: #d8d8d8;
    --fotter-color:#016150;
    --title-color:#ac3963;
    --first-color: #000000;
    --second-color: #202022;
    --third-color:#ffffff;
    --color-primario: #003366;
    --color-secundario: #ff6600;
    --color-fondo: #f4f4f4;
    --box-shadow:0px 15px 25px rgba(0,0,0,0.08);
    --transition:all 0.5s ease;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--bg-primari);
}
a{
    text-decoration: none;
    color: var(--first-color);
    transition: var(--transition);
}
a:hover {
    color: var(--fotter-color);
}
img {
    max-width: 100%;
    height: auto;
}

/*  NABVAR  */
.navbar-brand img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.navbar{
    box-shadow: var(--box-shadow);
}
.container {
    width: 90%;
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--first-color);
}

.navbar-nav .nav-link.active {
    color: var(--fotter-color);
}



.hero {
    background: url('https://via.placeholder.com/1500x600') no-repeat center center/cover;
    color: white;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.btn-primario {
    background-color: var(--color-secundario);
    color: white;
    border: none;
}
.btn-primario:hover {
    background-color: #e65c00;
}
.departamento-card img {
    height: 250px;
    object-fit: cover;
}
.busqueda {
    background-color: var(--color-primario);
    color: white;
    padding: 40px 0;
}
.testimonios {
    background-color: var(--color-fondo);
    padding: 50px 0;
}
.footer {
    background-color: var(--color-primario);
    color: white;
    padding: 20px 0;
}